In [2]:
import pandas as pd
import requests
from io import StringIO

url = "https://en.wikipedia.org/wiki/List_of_The_Simpsons_episodes"

# This header makes the website think you are using the Chrome browser
headers = {
  "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36" 
}

# 1. Fetch the content manually
response = requests.get(url, headers=headers)

# 2. Check if it worked (200 means OK)
if response.status_code == 200:
    # 3. Pass the text content to Pandas
    # Use StringIO to make the string look like a file to Pandas
    data = StringIO(response.text)
    
    # If you were using read_html:
    dfs = pd.read_html(data)
    print(dfs[0].head()) # Print first few rows of the first table
    
    # If you were using read_csv:
    # df = pd.read_csv(data)
    # print(df.head())
else:
    print(f"Failed to retrieve data. Status code: {response.status_code}")

# import pandas as pd
# simpsons=pd.read_html("https://en.wikipedia.org/wiki/List_of_The_Simpsons_episodes")
# len(simpsons)

  Season Episodes            Originally released                           \
  Season Episodes Episodes.1      First released    Last released Network
0      1       13         13   December 17, 1989     May 13, 1990     Fox
1      2       22         22    October 11, 1990    July 11, 1991     Fox
2      3       24         24  September 19, 1991  August 27, 1992     Fox
3      4       22         22  September 24, 1992     May 13, 1993     Fox
4      5       22         22  September 30, 1993     May 19, 1994     Fox

  Households / viewers    Rank Rating
  Households / viewers    Rank Rating
0     13.4m h.[n1][15]      30   14.5
1     12.2m h.[n1][n2]  38[16]      8
2       12m h.[n1][n3]  33[17]    NaN
3     12.1m h.[n1][18]      30     13
4     10.5m h.[n1][n4]  53[19]    NaN

In [6]:
print(len(dfs))

16

In [ ]:
df_25=pd.read_csv("https://www.football-data.co.uk/mmz4281/2526/E0.csv")
df_25

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,E0,04/01/2026,15:00,Everton,Brentford,2,4,A,0,1,...,2.10,1.78,2.16,1.79,2.10,1.78,2.05,1.74,2.16,1.85
196,E0,04/01/2026,15:00,Newcastle,Crystal Palace,2,0,H,0,0,...,1.85,2.00,1.90,2.03,1.86,2.00,1.82,1.96,1.93,2.04
197,E0,04/01/2026,15:00,Tottenham,Sunderland,1,1,D,1,0,...,1.98,1.88,2.01,1.92,1.98,1.88,1.90,1.83,2.04,1.94
198,E0,04/01/2026,15:15,Fulham,Liverpool,2,2,D,1,0,...,1.98,1.88,2.01,1.91,1.98,1.88,1.91,1.82,2.06,1.93
199,E0,04/01/2026,17:30,Man City,Chelsea,1,1,D,1,0,...,2.00,1.85,2.02,1.91,2.00,1.90,1.93,1.84,2.04,1.95